body {
    position: relative;
    height: 100vh;
    width: 100vh;
    margin: 0 auto;
}

div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100px;
    background: red;
    border-radius: 100px;
}

.ball1 {
    animation: rolling 8s 0s infinite ease;
}

.ball2 {
    animation: rolling 8s 2s infinite ease;
}

.ball3 {
    animation: rolling 8s 4s infinite ease;
}

.ball4 {
    animation: rolling 8s 6s infinite ease;
}

@keyframes rolling {
    0% {
        top: 0;
        left: 0;
        background: red;
    }

    25% {
        top: 0;
        left: 93%;
        background: yellow;
    }

    50% {
        top: 84%;
        left: 93%;
        background: green;
    }

    75% {
        top: 84%;
        left: 0;
        background: blue;
    }

    100% {
        top: 0;
        left: 0;
        background: red;
    }

}